.InputWrapper {
  position: relative;
  width: 100%;
  height:3rem;
  display: flex;
  align-items: center;


  &-input{
    color: #00508E;
    font-size: em(16px);
    font-weight: bold;
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    padding-left: em(12px);
    transition: 0.2s;
    outline:none;
  }

  &-label{
    color: #373E4C;
    font-size: em(14px);
    position: absolute;
    left:5px;
    pointer-events: none;
    transition: .2s ease transform;
    padding-left: em(12px);
    opacity: 0.4;
  }
}

input:focus ~ label, input:not(:placeholder-shown) ~ label {
    transform: translateY(em(-25px));
    font-size: em(9px);
    opacity: 1;

}

::-webkit-input-placeholder {
    color: transparent;
}


