.Container{
  width: 100vw;
  height: 100vh;
  background-color: #00508E;


  @include from(lg){
      display:grid;
      grid-template-columns: 2.5fr 1fr;
      grid-template-areas: 'bg login';
  }


}

.l-container{
  padding-right: 1rem;
  padding-left: 1rem;
}