.LoginWrapper {
  width: 100%;
  height: 100%;
  color: White;
  grid-area: login;


  &-header {
    width: 100%;
    height: 3rem;
    box-shadow: 0 0 1px #444;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: em(12px);

    &-title {
      padding-right: 1em;
      padding-left: 1em;
      padding-bottom: 1em;
      border-bottom: 5px solid #FF7000;
    }
  }

  &-content {
    width: 100%;
    height: calc(100% - 6rem);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &-title {
      font-size: em(12px);
      font-weight: 300;
      padding-bottom: 1rem;

    }

    &-form {
      width: 100%;
      height: 7rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;


      @include from(m){
          width: 80%;
      }



    }

    &-btn {
      padding-top: 2rem;
    }
  }


  &-footer {
    width: 100%;
    height: 3rem;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
  }


}

.BgWrapper{
  grid-area: bg;
  background-image: url("/media/bg.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}